* {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  width: 400%;
  height: 100%;
}
#container {
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 4s;
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.section {
  margin: 0px;
  width: 25%;
  min-width: 25%;
  float: left;
  opacity: 0.7;
  height: 100%;
  position: relative;
}
.arrow {
  height: 50px;
  width: 50px;
  display: block;
  position: absolute;
  padding: 0px;
  margin: 15% 0 0 0;
}
a .arrow:hover {
  opacity: 0.5;
}
.left {
  margin-left: 1%;
}
.right {
  margin-left: 95%;
}
.quote {
  font-size: 2rem;
  margin: 30px;
  font-style: italic;
  opacity: 0;
  -webkit-transition: opacity 3.5s;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}
.free {
  font-family: "Raleway", sans-serif;
}
.caged {
  font-family: 'Droid Serif', serif;
}
#loader {
  font-size: 4rem;
  display: inline;
  position: absolute;
  background-color: #fff;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 70%;
  margin: auto;
  font-style: italic;
  opacity: 0;
  -webkit-transition: opacity 4s;
  z-index: 1;
}
#button {
  height: 12%;
  width: 18%;
  font-size: 2rem;
  font-style: normal;
  font-family: 'Droid Serif';
  margin: auto;
  margin-top: 10%;
  background-color: black;
  color: white;
  opacity: 0.7;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 4s;
}
#p1 {
  margin-top: 20%;
}
#p2 {
  margin-left: 20%;
  margin-top: 2%;
}
#p3 {
  margin-left: 40%;
  font-size: 3rem;
  margin-top: 2%;
}